@import './variables';
@import './mixins.scss';
body {
  margin: 0;
  padding: 0 40px;
  width: calc(100vw - 80px);
  background: #fff;
  color: $black1;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  @include mdl() {
    padding: 0 80px;
  }
}

a {
  color: $black1;
  text-decoration: none; 
  &:visited {
    color: $primary;
  }
}

.title {
  color: $black0;
  font-weight: 700;
}
.subtitle {
  color: $black1;
}

em {
  font-style: normal;
  color: $primary;
  font-weight: 700;
  margin: 10px 0;
}